@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
  } */
}

.ProseMirror-focused > * {
  margin-bottom: 10px !important;
}

.ProseMirror > * {
  margin-bottom: 10px !important;
}

.ProseMirror > h1 {
  margin-top: 0 !important;
}

.ProseMirror > h2 {
  margin-top: 0 !important;
}

.block-menu-trigger {
  display: none !important;
}
